.roomImageContainer {
  display: flex;
  max-width: 30vw;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin-bottom: 2rem;
}

.roomImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover; // Maybe change it to fit? Don't know
}
