#root {
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  gap: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(127, 127, 127, 0.2);
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.authButtons {
  display: flex;
  gap: 0.5rem;
}

main {
  padding: 1.5rem;
}
